$menuBg: #f8c255;

.menu {
    position: absolute;
    right: 11%;
    top: 50px;
}

.menu__hamburger {
    width: 119px;
    height: 114px;
}

.menu__list {
    background: $menuBg;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 725px;
    padding-right: 119px;
    padding-left: 25px;
    box-sizing: border-box;
    display: none;
    z-index: -9999;
}
.menu__list--active {
    display: flex;
    z-index: 1;
    animation-duration: 500ms;
    animation-name: menu;
}


.menu__link {
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    line-height: 1.786;
    text-decoration: none;
    padding: 30px;
    transition-property: color;
    transition-duration: 500ms;

    @media (min-width: 1500px) {
        @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
    }

    &:hover {
        color: $black;
    }
}

@keyframes menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 1500px) {

    .menu__list {
        min-width: 1100px;
    }
}

@media (max-width: 980px) {

    .menu {
        right: 30px;
        top: 30px;
    }
}

@media (max-width: 768px) {

    .menu {
        height: 100%;
    }

    .menu__hamburger {
        width: 70px;
        height: 70px;
    }
    
    .menu__list--active {
        display: block;
        min-width: auto;
        padding-right: 70px;
        padding-top: 15px;
        overflow-y: auto;
    }

    .menu__link {
        display: block;
        padding: 7px 80px 7px 0;
    }
}